.css-des{
    background:trasnparent;
}

.div-des{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 }

 .input-focus:focus {
    outline: none !important;
  
    box-shadow: 0 0 5px #719ECE;
}
